<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="icon" href="https://www.stouffvilletoyota.com/wp-content/uploads/2019/08/download-logo-png-image-77292-300x300.png" type="image/png">
  <link rel="stylesheet" href="/style.css"> <!-- Tambahkan baris ini untuk memuat CSS -->
</head>
<body>
  <h1>Oops, terjadi kesalahan!</h1>
  <p>Gagal mendapatkan data dari URL. Mohon periksa kembali tautan Instagram yang Anda masukkan.</p>
</body>
</html>
