<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Instagram Video</title>
  <link rel="icon" href="https://www.stouffvilletoyota.com/wp-content/uploads/2019/08/download-logo-png-image-77292-300x300.png" type="image/png">

  <style>
    /* Masukkan CSS styling di sini seperti pada halaman utama */
    .footer {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #888;
    }
    .social-icons {
      margin-top: 20px;
    }

    .social-icons img {
      margin: 0 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  </style>
</head>
<body>
    <!-- Konten halaman utama -->
    <div class="footer">
      Made with ♥ by tierkun
    </div>

    <div class="social-icons">
      <a href="https://github.com/Stalker-moment" target="_blank">
        <img src="/github-logo.png" alt="GitHub">
      </a>
      <a href="https://www.instagram.com/username-instagram" target="_blank">
        <img src="/instagram-logo.png" alt="Instagram">
      </a>
    </div>

  <div style="font-family: Arial, sans-serif; background-color: #f0f0f0; margin: 0; padding: 0;">
    <div style="max-width: 800px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
      <h1 style="color: #333;">Instagram Downloader (Stories, Post, Tv, Reels)</h1>
      <form action="/" method="post">
        <textarea name="url" placeholder="Masukkan tautan Instagram" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"></textarea>
        <br>
        <button type="submit" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; text-decoration: none; cursor: pointer;">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
